@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Display"; /* Navn på fonten */
    src: url("/src/font/behowleddisplay-webfont.woff2") format("woff2");
    font-weight: normal; /* Normal vægt */
    font-style: normal; /* Normal stil */
  }
  @font-face {
    font-family: "text"; /* Navn på fonten */
    src: url("/src/font/bombardgrotesk-regular-bf66ecdc9b4463e-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal; /* Normal stil */
  }
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 25px;
  }

  @import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap");
  .hind-guntur-regular {
    font-family: "Hind Guntur", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .color-change-2x {
    animation: color-change-2x 2s linear infinite alternate both;
  }

  @keyframes color-change-2x {
    0% {
      background: #310c03;
    }

    100% {
      background: #180b06;
    }
  }
  .typing {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #ecd14b;
    animation: typing 2s steps(12, end), cursor 0.2s steps(12, end) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }

  .leSnake span {
    animation: leSnake 1.5s ease-in-out;
    animation-iteration-count: infinite;
  }
  @keyframes leSnake {
    from,
    to {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(30px);
    }
  }
  .leFadeInLeft span {
    animation-name: leFadeInLeft;
  }
  @keyframes leFadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-60px);
    }
    to {
      opacity: 1;
    }
  }

  .leBlurInRight span {
    animation-name: leBlurInRight;
  }
  @keyframes leBlurInRight {
    from {
      transform: scaleX(0.2) translateX(100px);
      filter: blur(20px);
      opacity: 0;
    }
  }

  .hu__hu__ {
    animation: hu__hu__ infinite 2s ease-in-out;
  }
  @keyframes hu__hu__ {
    50% {
      transform: translateY(30px);
    }
  }
  .digital,
  .susse,
  .karussel,
  .snuggy,
  .pleasant,
  .unge {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;
  }
  .digital,
  .susse,
  .karussel,
  .snuggy,
  .pleasant,
  .unge:hover {
    transform: scale(1.02); /* Scales the element to 110% */
    box-shadow: 0px 0px 2px 2px #efefed;
    padding: 4px;
  }
}
