@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Display"; /* Navn på fonten */
    src: url("/src/font/behowleddisplay-webfont.woff2") format("woff2");
    font-weight: normal; /* Normal vægt */
    font-style: normal; /* Normal stil */
  }
  @font-face {
    font-family: "text"; /* Navn på fonten */
    src: url("/src/font/bombardgrotesk-regular-bf66ecdc9b4463e-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal; /* Normal stil */
  }
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 25px;
  }

  @import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap");
  .hind-guntur-regular {
    font-family: "Hind Guntur", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .color-change-2x {
    animation: color-change-2x 2s linear infinite alternate both;
  }

  @keyframes color-change-2x {
    0% {
      background: #310c03;
    }

    100% {
      background: #180b06;
    }
  }
}
