---

---

<div>
  <section class="md:max-w-7xl mx-auto flex items-center">
    <div class="mx-auto items-center justify-between flex gap-10 pb-10 text-[#FFE524]">
      <p>LinkedIn</p>
      <p>E-mail</p>
      <p>Instagram</p>
      <p>Youtube</p>
    </div>
  </section>
</div>
