---
import { Image } from "astro:assets";
import kontakt from "../assets/images/contact.svg";
import emailikon from "../assets/images/emailikon.svg";
import adresse from "../assets/images/adresse.svg";
import jobportal from "../assets/images/jobportal.svg";
---

<section class="pt-10 md:pt-28" id="kontakt">
  <div class="flex flex-col px-6 max-w-7xl justify-center mx-auto w-full">
    <h1 class="text-4xl md:text-6xl flex items-end w-full tracking-wide text-[#ecd14b] font-[Display]" id="projekter">
      Kontakt
      <span class="border-solid border-b-2 border-[#ecd14b] flex-1 h-1 ml-2"></span>
    </h1>
  </div>
</section>
<section class="max-w-7xl justify-center mx-auto items-center w-full px-6 md:grid md:grid-cols-[auto_auto] md:justify-start md:gap-12">
  <a href="mailto:huba0001@stud.kea.dk" target="_blank" class="text-[#F4F4ED] gap-2 items-center hover:text-[#ecd14b] flex flex-row justify-center">
    <div><Image src={kontakt} alt="kontakt mig" class="w-60 md:w-80 flex mx-auto justify-center pt-10 md:justify-end kontakt" /></div>
  </a>

  <div class="flex flex-col mx-auto justify-center items-center md:items-start">
    <h2 class="flex gap-2 text-[24px] md:pt-10 md:text-[32px] text-[#ecd14b] lg:pl-20 tracking-wide font-[Display] kontaktmig">Jeg glæder mig til at høre fra dig!</h2>
    <div class="pt-6 flex flex-col gap-4 md:flex-row md:justify-center md:items-center md:gap-6">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="arrow mx-auto flex size-16 text-[#ecd14b] font-bold md:hidden">
          <path fill-rule="evenodd" d="M11.47 13.28a.75.75 0 0 0 1.06 0l7.5-7.5a.75.75 0 0 0-1.06-1.06L12 11.69 5.03 4.72a.75.75 0 0 0-1.06 1.06l7.5 7.5Z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M11.47 19.28a.75.75 0 0 0 1.06 0l7.5-7.5a.75.75 0 1 0-1.06-1.06L12 17.69l-6.97-6.97a.75.75 0 0 0-1.06 1.06l7.5 7.5Z" clip-rule="evenodd"></path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="arrow1 hidden md:block mx-auto size-16 text-[#ecd14b]">
          <path fill-rule="evenodd" d="M13.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L11.69 12 4.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M19.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06L17.69 12l-6.97-6.97a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <div>
        <div class="flex pb-2 text-[#F4F4ED]">
          <a href="mailto:huba0001@stud.kea.dk" target="_blank" class="text-[#F4F4ED] gap-2 items-center hover:text-[#ecd14b] flex flex-row">
            <Image src={emailikon} alt="email" class="size-[38px]" />
            huba0001@stud.kea.dk
          </a>
        </div>
        <div class="flex gap-2 pb-2 text-[#F4F4ED]">
          <a href="https://www.linkedin.com/in/hui-jin-bak-9aa248305/" target="_blank" class="text-[#F4F4ED] items-center gap-2 hover:text-[#ecd14b] flex flex-row">
            <Image src={jobportal} alt="linkedin" class="size-9" />
            LinkedIn
          </a>
        </div>
        <div class="flex gap-2 pb-2 text-[#F4F4ED]">
          <div class="text-[#F4F4ED] gap-2 hover:text-[#ecd14b] items-center flex flex-row">
            <Image src={adresse} alt="adresse " class="size-9" />
            Kongens Lyngby, København, Danmark
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="logo" class="flex justify-end max-auto py-10 px-6">
  <a href="#om-mig" class="flex gap-1 hind-guntur-regular text-[#ecd14b] text-[20px]">HjB <li></li></a>
</div>

<script>
  import { inView } from "motion";
  const kontakt = document.querySelector(".kontakt");
  inView(kontakt, ({ target }) => {
    target.classList.add("animate__animated", "animate__flipInY", "fadeInOpacity");
  });
  const kontaktmig = document.querySelector(".kontaktmig");
  inView(kontaktmig, ({ target }) => {
    target.classList.add("animate__animated", "animate__flipInX", "fadeInOpacity");
  });
  const arrow = document.querySelector(".arrow");
  inView(arrow, ({ target }) => {
    target.classList.add("animate__animated", "animate__heartBeat", "animate__infinite", "fadeInOpacity");
  });
  const arrow1 = document.querySelector(".arrow1");
  inView(arrow1, ({ target }) => {
    target.classList.add("animate__animated", "animate__heartBeat", "animate__infinite", "fadeInOpacity");
  });
</script>
