---

---

<div>
  <section class="md:max-w-5xl mx-auto">
    <div class="grid grid-cols-3 p-5 md:max-w-lg mx-auto">
      <p class="grid col-span-2 pb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <div class="mx-auto grid md:grid-cols-3 gap-4 px-5 pb-10">
      <p>Lorem ipsum dolor sit. Lorem ipsum dolor</p>
      <p>Lorem ipsum dolor sit. Lorem ipsum dolor</p>
      <p>Lorem ipsum dolor sit. Lorem ipsum dolor</p>
    </div>
  </section>
</div>
