---

---

<div class="flex justify-between list-none p-5 md:max-w-5xl mx-auto flex flex-row">
  <p>Logo</p>
  <div class="md:hidden"><i class="fa-solid fa-bars"></i></div>
  <div class="hidden md:flex flex-low justify-between space-x-10">
    <li>nav1</li>
    <li>nav2</li>
    <li>nav3</li>
  </div>
</div>
