---
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<div x-data="{ showmenu: false }" class="px-4 mx-auto fixed lg:fixed w-full z-10 bg-[#180B06]">
  <div id="navbar" class="flex flex-row justify-between items-center py-4">
    <div id="logo" class="">
      <a href="/" class="flex gap-1 hind-guntur-regular text-[#F4F4ED] text-[20px] hover:text-[#ebcd38]">HjB <li></li></a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-20">
        <li class=""><Link variant="textlink" size="small" href="https://www.linkedin.com/in/hui-jin-bak-9aa248305/">LinkedIn</Link></li>
        <li class=""><Link variant="textlink" size="small" href="#projekter">Projekter</Link></li>
        <li class=""><Link variant="textlink" size="small" href="#kontakt">Kontakt</Link></li>
      </ul>
    </nav>
    <button id="burgermenu" class="lg:hidden text-[#F4F4ED]" x-on:click="showmenu = ! showmenu"
      ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-[#ebcd38]">
        <path fill-rule="evenodd" d="M11.47 13.28a.75.75 0 0 0 1.06 0l7.5-7.5a.75.75 0 0 0-1.06-1.06L12 11.69 5.03 4.72a.75.75 0 0 0-1.06 1.06l7.5 7.5Z" clip-rule="evenodd"></path>
        <path fill-rule="evenodd" d="M11.47 19.28a.75.75 0 0 0 1.06 0l7.5-7.5a.75.75 0 1 0-1.06-1.06L12 17.69l-6.97-6.97a.75.75 0 0 0-1.06 1.06l7.5 7.5Z" clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>
  <nav id="mobilmenu" class="flex flex-col content-center pt-4" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul>
      <ul class="flex flex-col justify-center items-center gap-6 pb-10">
        <li class=""><Link variant="textlink" size="small" href="https://www.linkedin.com/in/hui-jin-bak-9aa248305/">LinkedIn</Link></li>
        <li class=""><Link variant="textlink" size="small" href="#projekter">Projekter</Link></li>
        <li class=""><Link variant="textlink" size="small" href="#kontakt">Kontakt</Link></li>
      </ul>
    </ul>
  </nav>
</div>
