---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
import "animate.css";
const { title } = Astro.props;
---

<html lang="da" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/c5d83fc88a.js" crossorigin="anonymous"></script>
    <title>{Astro.props.title}</title>
  </head>
  <body class="bg-[#180c09]">
    <header class="">
      <Header />
    </header>

    <main class="text-[#F4F4ED] text-[16px] montserrat">
      <slot />
    </main>

    <footer class="w-full">
      <Footer />
    </footer>
  </body>
</html>
